body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Open Sans', 'Helvetica', 'Sans-Serif';
    padding: 0px;
    font-weight: thin;
}
nav ul li, footer ul li {
    display: inline;
    font-family: 'Open Sans', 'Helvetica', 'Sans-Serif';
    padding: 0px;
    font-weight: thin;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.8em;
    font-family:'Open Sans', 'Helvetica', 'Sans-Serif';
}
h2 {
    font-size: 2.6em;
    font-family:'Open Sans', 'Helvetica', 'Sans-Serif';
}
h3 {
    font-size: 2.2em;
    font-family:'Open Sans', 'Helvetica', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    font-family:'Crimson Text', 'Roboto Slab', 'Serif';
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
    font-family:'Crimson Text', 'Roboto Slab', 'Serif';
    line-height: 1.3em;
    color: #333;
}

ul.posts li {
    font-size: 1.3em;
    font-family:'Crimson Text', 'Roboto Slab', 'Serif';
    line-height: 1.3em;
    color: #333;
}

ul { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
    font-family:'Crimson Text', 'Roboto Slab', 'Serif';
    line-height: 1.3em;
    color: #333;
}

li {
    font-size: 1.3em;
    font-family:'Crimson Text', 'Roboto Slab', 'Serif';
    line-height: 1.3em;
    color: #333;
}
